{% extends "layout.html" %}

{% block title %}
  <title>Updates</title>
{% endblock %}

{% block upda_sel %}
<a href="{{url_for('updates')}}" class="nav-link active" aria-current="page">
{% endblock %}

{% block main%}
        <div class = "homesection">
            <p class="lead">
                <em>June</em>
                <hr></hr>
                The following features have been changed / updated:
                <ol>
                    <li>Client Login Page</li>
                    <li>Added website support for withdrawing funds</li>
                    <li>Updated strategies section</li>
                </ol>
                News and recap
                <ul>
                    <li>Newly released strategy option</li>
                    <li>Expanding website to ...</li>
                    <li>Team has grown to include...</li>
                </ul>
            </p>
        </div>


    <div class = "homesection">
        <p class="lead">
          <em>May</em>
          <hr></hr>
          The following features have been changed / updated:
          <ol>
            <li>Point 1</li>
            <li>Point 2</li>
            <li>Point 3</li>
          </ol>
          News and recap
          <ul>
            <li>Point 1</li>
            <li>Point 2</li>
            <li>Point 3</li>
          </ul>
        </p>
    </div>

      <div class = "homesection">
        <p class="lead">
          <em>April</em>
          <hr></hr>
          The following features have been changed / updated:
          <ol>
            <li>Point 1</li>
            <li>Point 2</li>
            <li>Point 3</li>
          </ol>
          News and recap
          <ul>
            <li>Point 1</li>
            <li>Point 2</li>
            <li>Point 3</li>
          </ul>
        </p>
    </div>


    <div class = "homesection">
        <p class="lead">
          <em>March</em>
          <hr></hr>
          The following features have been changed / updated:
          <ol>
            <li>Point 1</li>
            <li>Point 2</li>
            <li>Point 3</li>
          </ol>
          News and recap
          <ul>
            <li>Point 1</li>
            <li>Point 2</li>
            <li>Point 3</li>
          </ul>
        </p>

    </div>

    <div class = "homesection">
        <p class="lead">
          <em>Febuary</em>
          <hr></hr>
          The following features have been changed / updated:
          <ol>
            <li>Point 1</li>
            <li>Point 2</li>
            <li>Point 3</li>
          </ol>
          News and recap
          <ul>
            <li>Point 1</li>
            <li>Point 2</li>
            <li>Point 3</li>
          </ul>
        </p>
    </div>

    <div class = "homesection" style>
        <p class="lead">
            <em>January</em>
            <hr></hr>
            The following features have been changed / updated:
            <ol>
                <li>Point 1</li>
                <li>Point 2</li>
                <li>Point 3</li>
            </ol>
            News and recap
            <ul>
                <li>Point 1</li>
                <li>Point 2</li>
                <li>Point 3</li>
            </ul>

          </p>
        </div>
{% endblock %}

